* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    
  }
  body {
    background: #f4f4f4;
    color: #333;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #20426e;
    color: white;
    padding: 20px;
    
    position: absolute;
    position: fixed;
    width: 100%;
  }

  .nav2{
    /* height: 100px; */
   
    padding-top: 98px;
    padding-bottom: 30px;

}
  .navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  .navbar a:hover{
    color: cadetblue;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  
  }
  .logo img{
    font-size: 1.5rem;
    font-weight: bold;
    width:100px;
  }
  .Brand_name{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
   color:rgba(100,70, 100, 050) ; 
  }

  button{
    border-radius: 10%;
   

  }
  html {
    scroll-behavior: smooth;
  }
  .carousel {
    position: relative;
    overflow: hidden;
    /* margin: 40px 0; */
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slides img, .service-card {
    min-width: 100%;
    max-width: 100%;
  }
  
  .hero-carousel img {
    height: 400px;
    object-fit: cover;
  }
  #Interior1{
    height: 70vh;
    width: 70px;
  }
  #Interior2{
    height: 70vh;
    width: 70px;
  }
  .hero-text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
  }
  
  .hero-text p {
    font-size: 1.2rem;
  }
  
  .carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 10;
  }
  
  .carousel-controls button {
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 2rem;
    margin: 0 10px;
    cursor: pointer;
  }
   .about {
    width: 100%;
   overflow-wrap: break-word;
   /* white-space: normal; */
    padding: 20px;
    color: #f4f4f4;
    background-image:url(./wallPOP.jpg);
    padding-left: 130px;

   
  }
  .about h2{
    text-align: center;
  }
  

  .details{
    /* max-width: 100%;
    max-height: 100%; */
    padding: 20px;
    
    /* border: 1px solid #333; */
    background-color: rgba(0, 0, 0, 0.5); 

    
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    /* background-image: url(./WallPOP2.jpg); */
  }
  .details h2:hover{
    text-decoration: underline;
    /* color: cadetblue; */
  }
  .details p{
    font-size: 18px;
  }
  
  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
  }
  .Title h2{
    text-align: center;
    font-size: 50px;
    color: black;
    
  }
  .Title h2:hover{
    color: cadetblue;
  }
  .Details{
    width: 100%;
    padding: 20px;
    
    /* border: 1px solid #333; */
    /* background-color: rgba(0, 0, 0, 0.5);  */
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
  }
  .Details p{
    text-align: center;
    color: black;
    font-size: 20px;
    }

  .info p{
   
    /* border: 1px solid #333; */
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
  }
  
  .partA{
    /* padding-left: 70px; */
  }
  .partA h3{
    align-items: center;
  }
  .partA p{
    width: 70%;
    padding-right: 20px;
  }
  .partA h3{
    color: white;
  }
  .partB{
    padding-right: 80px;
    text-decoration: none;
    list-style: none;
  }
  .partB h3{
    color: white; 
  }
  .partB,
    .info li a{
      text-decoration: none;
      list-style: none;
      padding-top: ;
  
      
  }

  .partC{
    /* padding-left: 27px; */
    text-decoration: none;
    list-style: none;
  }
  .partD{
    /* padding-left: 40px; */
  }
  .info{
   font-size:large;
  }
  .info a{
    color: white;
  }
  .Footie{
    display: flex;
    /* justify-content: center; */
    padding:35px 60px;
    text-decoration: none;
     background-color: rgba(0, 0, 0, 0.5);
     color: white; 
  }
  .Footie h3{
    font-size: 22px;
  }
  .Footie, .info{
    font-size: 15px;
  }
  